html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.box {
    box-sizing: border-box;
}

.cont-box {
    box-sizing: content-box;
}
.inline {
    display: inline;
    font-weight: lighter;
}

.right{
    float: right;
}

.left {
    float: left;
}

.fact {
    background-color: #336600;
    color: white;
    font-size: 1rem;
    padding-bottom: 15px;
    padding-top: 25px;
    margin-bottom: 35px;
}


 
.fact li {
    margin-bottom: 10px;
}

video {
    width: 100%;
    margin: auto;
    display: block;
}

#back-img-something {
    background-image: url(media/Bollestad10.jpg);
    height: 125vh;
}
.background-center {        
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    overflow-x: hidden;
}



/* spesific backgrounds */

/* DET SOM SKAL SKJULES på små */



.display-large {
    display: none;
}

#topimg {
    height: 100vh;
    background: #a7cece;
    background-image: url('media/DSC_1845.jpg');
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    overflow-x: hidden; 
}



.byline {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

.sitat {
    margin-bottom: 30px;
}

.sitat p {
    font-size: 15px; 
    color: black; 
    font-weight: bold; 
    margin: 0;
}




h1 {
    color: #336600;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 30px;
}

h4 {
    text-align: center;    
    margin-top: 50px;
}

p {
    font-size: 20px;
    text-align: left;
    margin: 15px 25px;
    color: #515150;
}

ul {
    padding-top: 15px;
}

.text div {
    margin-bottom: 50px;
}

.ingress h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #515150;
}
#header {
    padding: 0;
}

.bildetekst {
    margin-left: 25px;
}

/********** generelle klasser ***************/

.padding {
    height: 50px;
}

.padding-top {
    padding-top: 50px;
}

/********** Full bredde bilder ***********/

.full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-bottom: 50px;
    box-sizing: border-box;

}

.full-width-image img {
    width: 100%;    
    margin: auto;    
    display: block;
}

.min-width {
    min-width: 700px;
}


/******** SMALL SCREEN *******/
@media screen and (min-width: 576px) and (max-width:767px) {
    h1 {
        font-size: 40px;
    }    

    .ingress h3{
        font-size: 25px;
    } 
    
    .text p{
        line-height: 40px;
    }

    .display-large {
        display: none;
    }

}


/******** Medium SCREEN *******/
@media screen and (min-width: 768px) and (max-width:991px) {
    h1 {
        font-size: 45px;
    }

    .ingress h3{
        font-size: 25px;
    } 
    
    .text p{
        line-height: 40px;
    }

    .display-large {
        display: none;
    }
}

/******** Large SCREEN *******/

@media screen and (min-width: 992px) {
    h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 80vh;
    }

    .background-center {
        background-attachment: fixed;
    }
    

    #topimg {
        background-attachment: fixed;
        height: 230vh;
    }

    #img2 {
        background-image: url(media/DSC_1803.jpg);        
        height: 700vh;
    }

    .facts-large  {       
        
        margin: 0;
        margin-top: 125vh;

        color: #515150;
    }

    .facts-large .facts-item {

        background-color: white;
        box-shadow: 0px 0px 1px #ccc;
        text-align: center;
        padding: 0 10px;
        margin: 0 10%;       
        
    }

    .facts-large .facts-item h4 {
        padding:25px 0;
        
    }

    .facts-large .facts-item p {
        margin-top: 50vh;
        padding: 15px 0;
    }    
   

    .display-small {
        display: none;
    }   
    
    .display-large {
        display: block;
    }
        /*
        *** SKAL LEGGES ETTER BASIC ER FIKSET ***
     */

    #topimg .container-fluid .row .ingress-med {
        font-size: 1.5rem;
        margin: auto;
        position: relative;
        background: white;
        padding: 25px;
        box-shadow: 0px 0px 1px #ccc;        
    }

    .ingress h3{
        font-size: 35px;
        margin-top: 100px;
        margin-bottom: 50px;
    } 
    
    .byline {
        margin-bottom: 50px;
    }
    .text p{
        font-size: 24px;
        line-height: 40px;
        max-width: 80%;
        margin: auto;
    }

    ul {
        
        font-size: 20px;
    }

    

    
}





@media screen and (min-width: 1200px){
    
    h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 80vh;
    }

}

.footer {
    color: #3e3e3e;
    height: 250px;
    background-color: #336600;
    width: 100vw;
    margin: 0;
    padding: 0;
}